<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>equipment</key>
	<array>
		<dict>
			<key>id</key>
			<string>3-101</string>
			<key>name</key>
			<string>Mic</string>
		</dict>
		<dict>
			<key>id</key>
			<string>1-1001</string>
			<key>name</key>
			<string>Nikon 5200</string>
		</dict>
		<dict>
			<key>id</key>
			<string>2-1</string>
			<key>name</key>
			<string>Tripod</string>
		</dict>
		<dict>
			<key>id</key>
			<string>1-1002</string>
			<key>name</key>
			<string>Nikon 5200</string>
		</dict>
	</array>
	<key>checkouts</key>
	<array>
		<dict>
			<key>item</key>
			<string>3-101</string>
			<key>sid</key>
			<integer>3</integer>
			<key>date_checkout</key>
			<string>2016-03-02</string>
			<key>date_checkin</key>
			<string></string>
			<key>demerit</key>
			<false/>
		</dict>
		<dict>
			<key>item</key>
			<string>2-1</string>
			<key>sid</key>
			<integer>3</integer>
			<key>date_checkout</key>
			<string>2015-12-02</string>
			<key>date_checkin</key>
			<string>2015-12-04</string>
			<key>demerit</key>
			<false/>
		</dict>
		<dict>
			<key>sid</key>
			<integer>3</integer>
			<key>item</key>
			<string>2-1</string>
			<key>date_checkout</key>
			<string>2016-02-12</string>
			<key>date_checkin</key>
			<string>2016-02-20</string>
			<key>demerit</key>
			<true/>
		</dict>
		<dict>
			<key>sid</key>
			<integer>3</integer>
			<key>item</key>
			<string>2-1</string>
			<key>date_checkout</key>
			<string>2016-01-02</string>
			<key>date_checkin</key>
			<string>2016-02-03</string>
			<key>demerit</key>
			<true/>
		</dict>
	</array>
	<key>students</key>
	<array>
		<dict>
			<key>first</key>
			<string>Harry</string>
			<key>last</key>
			<string>Potter</string>
			<key>major</key>
			<string>Wizarding</string>
			<key>year</key>
			<string>7</string>
			<key>email</key>
			<string>h.p@hogwarts.edu</string>
			<key>phone</key>
			<string>303-123-4567</string>
			<key>agreement</key>
			<string></string>
			<key>sid</key>
			<integer>3</integer>
			<key>banned</key>
			<true/>
			<key>classes</key>
			<array>
				<string>ATLS 7000</string>
			</array>
		</dict>
		<dict>
			<key>first</key>
			<string>Luke</string>
			<key>last</key>
			<string>Skywalker</string>
			<key>major</key>
			<string>Jedi</string>
			<key>year</key>
			<string>1</string>
			<key>email</key>
			<string>luke@theforce.edu</string>
			<key>phone</key>
			<string>303-123-4567</string>
			<key>agreement</key>
			<string></string>
			<key>sid</key>
			<integer>1</integer>
			<key>banned</key>
			<false/>
			<key>classes</key>
			<array>
				<string>ATLS 2000</string>
				<string>ATLS 1002</string>
			</array>
		</dict>
		<dict>
			<key>first</key>
			<string>Frodo</string>
			<key>last</key>
			<string>Baggins</string>
			<key>major</key>
			<string>Hobbiting</string>
			<key>year</key>
			<string>4</string>
			<key>email</key>
			<string>frodo.baggins@shire.edu</string>
			<key>phone</key>
			<string>303-123-4567</string>
			<key>agreement</key>
			<string></string>
			<key>sid</key>
			<integer>2</integer>
			<key>banned</key>
			<false/>
			<key>classes</key>
			<array>
				<string>ATLS 1000</string>
				<string>ATLS 1001</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
